WebServiceCalculotor/CalculatorWithASPNET/CalculatorWebService/Connected Services/CalculatorServiceRefence/Calculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://services.calculator.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://services.calculator.com" targetNamespace="http://services.calculator.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://services.calculator.com">
      <xsd:element name="add">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="addCandidateFirstParam" type="xsd:double" />
            <xsd:element name="addCandidateSecondParam" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="addReturn" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="divide">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="divideCandidateFirstParam" type="xsd:double" />
            <xsd:element name="divideCandidateSecondParam" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="divideResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="divideReturn" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="subtract">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="subtractCandidateFirstParam" type="xsd:double" />
            <xsd:element name="subtractCandidateSecondParam" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="subtractResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="subtractReturn" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multiply">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="multiplyCandidateFirstParam" type="xsd:double" />
            <xsd:element name="multiplyCandidateSecondParam" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multiplyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="multiplyReturn" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="multiplyRequest">
    <wsdl:part name="parameters" element="impl:multiply" />
  </wsdl:message>
  <wsdl:message name="divideRequest">
    <wsdl:part name="parameters" element="impl:divide" />
  </wsdl:message>
  <wsdl:message name="divideResponse">
    <wsdl:part name="parameters" element="impl:divideResponse" />
  </wsdl:message>
  <wsdl:message name="subtractRequest">
    <wsdl:part name="parameters" element="impl:subtract" />
  </wsdl:message>
  <wsdl:message name="addRequest">
    <wsdl:part name="parameters" element="impl:add" />
  </wsdl:message>
  <wsdl:message name="subtractResponse">
    <wsdl:part name="parameters" element="impl:subtractResponse" />
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part name="parameters" element="impl:addResponse" />
  </wsdl:message>
  <wsdl:message name="multiplyResponse">
    <wsdl:part name="parameters" element="impl:multiplyResponse" />
  </wsdl:message>
  <wsdl:portType name="Calculator">
    <wsdl:operation name="add">
      <wsdl:input name="addRequest" message="impl:addRequest" />
      <wsdl:output name="addResponse" message="impl:addResponse" />
    </wsdl:operation>
    <wsdl:operation name="divide">
      <wsdl:input name="divideRequest" message="impl:divideRequest" />
      <wsdl:output name="divideResponse" message="impl:divideResponse" />
    </wsdl:operation>
    <wsdl:operation name="subtract">
      <wsdl:input name="subtractRequest" message="impl:subtractRequest" />
      <wsdl:output name="subtractResponse" message="impl:subtractResponse" />
    </wsdl:operation>
    <wsdl:operation name="multiply">
      <wsdl:input name="multiplyRequest" message="impl:multiplyRequest" />
      <wsdl:output name="multiplyResponse" message="impl:multiplyResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatorSoapBinding" type="impl:Calculator">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="addRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="divide">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="divideRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="divideResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subtract">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="subtractRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="subtractResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiply">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="multiplyRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="multiplyResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorService">
    <wsdl:port name="Calculator" binding="impl:CalculatorSoapBinding">
      <wsdlsoap:address location="http://localhost:8081/CalculatorSOAPService/services/Calculator" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>